//************  buttons

.btn_v1 {
  height: 36px;

  &.callback_btn {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 32px;
    font: 15px/20px $PFDinDisplayProBold;
    text-align: center;
    text-transform: uppercase;
    margin-right: 53px;
  }

  &.service_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 27px;
    font: 15px/20px $PFDinDisplayProBold;
    text-align: center;
    text-transform: uppercase;

    .map_info_callback & {
      padding: 8px 34px;
    }
  }
}

.btn_v2 {
  height: 50px;

  &.reputation_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 44px;
    font: 21px/34px $PFDinDisplayProBold;
    text-align: center;
    text-transform: uppercase;
  }
  
  &.chose_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 50px;
    font: 21px/34px $PFDinDisplayProBold;
    text-align: center;
    text-transform: uppercase;
  }

  &.order_btn {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    font: 21px/34px $PFDinDisplayProBold;
    text-align: center;
    text-transform: uppercase;
    margin-left: 10px;
  }
}

.btn_blue_transp {
  border: 1px solid #29abe2;
  color: #fff;
}

.green_btn {
  color: #fefefe;
  background: #22b573;
}

.action_btn_2 {
  @include transition_all(background .3s, color .3s);
  position: relative;

  span {
    position: relative;
    z-index: 1;
  }

  &:before {
    @include transition_all(opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    opacity: 0;
  }
}

.action_btn {
  @include transition_all(background .3s, color .3s);
  background: transparent;
  border: 2px solid #000;

  .home_page & {
    color: $gl_red;
    border-color: $gl_red;

    &:hover {
      color: #fff;
      background: $gl_red;
    }
  }
}

.yellow_btn {
  background: #fbe622;
  color: #000;
  box-shadow: 0 3px 5px #7f7f7f;
}


