@font-face {
  font-family: 'PFDinDisplayProReg';
  src: url(../fonts/PFDinDisplayPro-Reg.eot);
  src: url(../fonts/PFDinDisplayPro-Reg.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Reg.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Reg.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayProBold';
  src: url(../fonts/PFDinDisplayPro-Bold.eot);
  src: url(../fonts/PFDinDisplayPro-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Bold.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayProLight';
  src: url(../fonts/PFDinDisplayPro-Light.eot);
  src: url(../fonts/PFDinDisplayPro-Light.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Light.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayProMed';
  src: url(../fonts/PFDinDisplayPro-Med.eot);
  src: url(../fonts/PFDinDisplayPro-Med.eot?#iefix) format("embedded-opentype"),
  url(../fonts/PFDinDisplayPro-Med.woff) format("woff"),
  url(../fonts/PFDinDisplayPro-Med.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url(../fonts/MyriadPro-Regular.eot);
  src: url(../fonts/MyriadPro-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/MyriadPro-Regular.woff) format("woff"),
  url(../fonts/MyriadPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadSetProMedium';
  src: url(../fonts/myriad-set-pro_medium.eot);
  src: url(../fonts/myriad-set-pro_medium.eot?#iefix) format("embedded-opentype"),
  url(../fonts/myriad-set-pro_medium.woff) format("woff"),
  url(../fonts/myriad-set-pro_medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadSetProBold';
  src: url(../fonts/myriad-set-pro_bold.eot);
  src: url(../fonts/myriad-set-pro_bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/myriad-set-pro_bold.woff) format("woff"),
  url(../fonts/myriad-set-pro_bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProBold';
  src: url(../fonts/MyriadPro-Bold.eot);
  src: url(../fonts/MyriadPro-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/MyriadPro-Bold.woff) format("woff"),
  url(../fonts/MyriadPro-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleCyrillic';
  src: url(../fonts/AdelleCyrillic.eot);
  src: url(../fonts/AdelleCyrillic.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AdelleCyrillic.woff) format("woff"),
  url(../fonts/AdelleCyrillic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

