include mixins.pug
doctype html
html(lang='ru')
  +dev_head('KSK страхование')

  body.insurance_page
    .wrapper
      .base
        div.header
          .section_inner.clearfix
            +top_info()
              
            +main_menu_holder(false, 3)
            
        div.main_content
          .main_slide_holder
            .main_slide_img
              img(src='i/main_insurance.jpg')
              .main_slide_info_holder._tall: .section_inner
                .hero_block
                  .hero_caption.clr_main Все виды страхования<br>
                    span под любые нужды!
                    
                  .hero_tip Надежная защита от финансовых потерь.

                  .hero_text
                    p Автострахование;<br>Жизнь и здоровье;<br>Путешествия;<br>Страхование грузов и перевозок;<br>Страхование имущества.

                    a.btn_v2.action_btn_2.chose_btn.openCallbackPopup(href='#')
                      span оформить заявку
                      
          .borrowing_section
            .section_inner
              .edged_title._mod_1
                span какие виды страхования<br>предоставляет компания КСК-Авто?
                
              ul.borrowing_steps
                li
                  .borrowing_block
                    .step_img
                      img(src='i/step_insurance_1.jpg')
                    .step_info
                      .step_index 1
                      .step_caption Автострахование
                      p У нас есть надежные программы индивидуального страхования каско, ОСАГО и «Зеленая карта».

                li
                  .borrowing_block
                    .step_img
                      img(src='i/step_insurance_2.jpg')
                    .step_info
                      .step_index 2
                      .step_caption Имущество
                      p Страхуйте как объект недвижимости в целом,<br>так и отдельные части – например, отделку, авторский дизайн, антиквариат и т.д.

                li
                  .borrowing_block
                    .step_img
                      img(src='i/step_insurance_3.jpg')
                    .step_info
                      .step_index._small 3
                      .step_caption Иные виды страхования
                      p Страхование грузов и перевозок, жизни и здоровья, путешествий и даже домашних животных.

          .order_section._mod_3
            .section_inner
              .order_title Ответим на все вопросы
              .order_tip.clr_main проинформируем по стоимости страхования
              
              .order_form_holder._no_dots
                form.sendOrder(action='#')
                  .f_row
                    .f_cell
                      .input_w
                        input.f_input_v1(placeholder='Ваше имя' name='name')
                    .f_cell
                      .input_w
                        input.f_input_v1(placeholder='Телефон' name='phone')
                    .f_cell
                      .input_w
                        button.btn_v2.action_btn_2.order_btn
                          span отправить заявку
                          
          .zalog_section
            .section_inner.clearfix
              .insurance_block
                .partner_caption Только лучшие
                .partner_tip надежные и проверенные партнеры

              ul.insurance_list
                li
                  .insurance_partner
                    img(src='i/partners_1.png')
                li
                  .insurance_partner
                    img(src='i/partners_2.png')
                li
                  .insurance_partner
                    img(src='i/partners_3.png')
                li
                  .insurance_partner
                    img(src='i/partners_4.png')
                li
                  .insurance_partner
                    img(src='i/partners_5.png')
                    
          .borrowing_section
            .section_inner
              .edged_title
                span другие наши услуги
                
              +service_slider()
              
      .map_holder
        #ksk_map.map_block
        .section_inner
          .map_info
            .map_info_caption Наши контакты
            .map_info_city в Ростове-на-Дону
            .map_info_phone +7 (863) 20 70 555
            .map_info_phone +7 (863) 20 70 222
            p Ежедневно с 9:00 до 21:00
            .map_info_callback 
              a.btn_v1.service_btn.action_btn.openCallbackPopup(href='#') заказать звонок
            p г. Ростов-на-Дону, ул Орбитальная 3 И
            
      +footer()
      
      .hide
        #callback_popup
          .popup_head
            img(src='i/insurance_popup_bg.jpg')
            a.popup_logo._left(href='#')
              .popup_logo_corner_l
              .popup_logo_corner_r
              img(src='i/logo_ksk_auto.png')
          form.popup_body.popupForm
            .popup_title Оставьте заявку на страхование<br>самого важного
            
            .popup_cell
              .input_w
                input.f_input_v2(placeholder='Ваше имя' name='name')
            .popup_cell
              .input_w
                input.f_input_v2(placeholder='E-mail' name='email')
            .popup_cell
              .input_w
                input.f_input_v2(placeholder='Телефон' name='phone')
            .popup_cell
              .input_w
                textarea.f_input_v2(placeholder='Напишите Ваш вопрос или комментарий здесь' name='msg')
                
    +scripts()
    
